// Place all the styles related to the account::collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title{
   margin-top: 75px;
   margin-bottom: -100px;
   color: #333;
   letter-spacing: 1px;
}

.job-limit-box{
  min-height: 350px;
  margin-top: 200px;
}
