// Place all the styles related to the Account::resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.job-limit-box{
  min-height: 350px;
  margin-top: 200px;

  .btn-lg{
    border-radius: 1.5rem;
  }

}


.company-mid{
  span{
    font: sans-serif;
  }
}
