// Place all the styles related to the Admin::categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-form{
  background: #fafafa;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #666;
  border-radius: 25px;

  opacity:0.95;
  filter:alpha(opacity=95);
  hr {
    height:1px;
    background-color:#ccc;
  }

  .admin-form-content{
    h2{
      text-align: center;
      color: #333;
      letter-spacing: 1px;
    }

    .form-actions{
      text-align: center;
      margin-top: 50px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #333;
        border-color: #333;
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #171415;
          border-color: #171415;
          color: #fff;
      }
    }
  }
}

.admin-box{
  min-height: 500px;
  margin-top: 25px;
  margin-bottom: 50px;



  .title-box{
    .title{
      margin-left: 35%;
      display: inline;
      float: left;
    }

    .button{
      margin-top: 20px;
      display: inline;
      float: right;
    }
  }

  .name-box{
    width: 20rem;
    font-size: 2rem;
    text-align: center;
    line-height: 35px;
  }

  .show-btn{
    background-color: #B6C9F2;
    border: 1px solid #aaa;
  }

  .lock-btn{
    height: 34px;
    padding-top: 9px;
  }
}
